.modal-content{
    background-color: transparent !important;
    border: none;
}
.modal-header{
    border: none;
}
.fa-times{
    position: absolute;
    right: 0;
    color: var(--white);
    font-size: 40px;
}

.modal-body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.imgDetalle{
    width: 200px;
    height: 300px;
}

.textDetalle{
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.containerButtonDe{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: inherit;
    align-self: flex-end;
}
.ButtonDetalle{
    width: 47%;
}

@media all and (max-width: 500px ) {
    .imgDetalle{
        width: 150px;
        height: 220px;
    }
}